<% locals.params.folders.forEach(folder => { %>
    <div><a href="/files/<%= folder.id %>"><%= folder.name %></a></div>
<% }) %> <% locals.params.files.forEach(file => { %>
    <p><%= file.name %></p>
<% }) %>
