<div class="file-card">
  <span><%= params.file.name %></span>
  <form action="/files/update_file/<%= params.file.id %>" method="post">
      <div class="field">
          <label for="newFileName">Rename</label>
          <input type="text" id="newFileName" name="newFileName" placeholder="Enter file name" required>
      </div>
      <div class="field">
          <label for="newFolderId">Change location</label>
          <input type="text" id="newFolderId" name="newFolderId" placeholder="Enter parent id" required>
      </div>
      <button type="submit">Update</button>
  </form>
  <a href="/files/delete_file/<%= params.file.id %>">Delete File</a>
  <a href=<%= params.file.downloadUrl %>>Download File</a>
</div>