<h2>Welcome, <%= locals.user.username %></h2>
<h3>Your storage</h3>
<form action="/files/new_folder/<%= locals.params.folderId %>" method="post">
  <label for="folderName">New folder name</label>
  <input type="text" id="folderName" name="folderName" placeholder="Enter folder name" required>
  <button type="submit">Create folder</button>
</form>
<form method="post" action="/files/new_file/<%= locals.params.folderId %>" enctype="multipart/form-data">
  <label for="file">Select File</label>
  <input type="file" id="file" name="file" placeholder="Browse" required>
  <button type="submit">Upload File</button>
</form>
<div>
  <%- include(locals.views.fileNodeList, {params: params}) %>
</div>